<div class="profile-container">
    <app-header class="header-section"></app-header>
    <div class="profile-content">
        <!-- <app-intro class="profile-section"></app-intro> -->
        <app-about id="about" class="profile-section"></app-about>
        <app-experience id="experience" class="profile-section"></app-experience>
        <app-skills id="skills" class="profile-section"></app-skills>
        <app-education id="education" class="profile-section"></app-education>
        <app-contact id="contact" class="profile-section"></app-contact>
    </div>
    <ngx-spinner bdColor="rgba(255,255,255,1)" size="medium" color="#033d5b" type="ball-spin-clockwise"></ngx-spinner>
</div>