.header-content {
    width: 300px;
    height: 100%;
    background-color: #202020;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: verdana;
    font-weight: lighter;
}

.title-container {
    background-color: #7acaff;
    border-radius: 50%;
    height: 230px;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 30px;
}

.title {
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.subtitle {
    font-size: 17px;
}

.location {
    font-size: 10px;
}

.nav-list {
    list-style: none;
    padding-left: 0px;
}

.nav-option {
    padding: 10px;
}