<div class="header-content">
    <div class="title-container">
        <div class="title">KATE HADDEN</div>
        <div class="subtitle">software engineer</div>
        <div class="location">san diego, california</div>
    </div>
    <div class="navbar">
        <ul class="nav-list">
            <li class="nav-option" (click)="navigate('about')">
                ABOUT
            </li>
            <li class="nav-option" (click)="navigate('experience')">
                EXPERIENCE
            </li>
            <li class="nav-option" (click)="navigate('skills')">
                SKILLS
            </li>
            <li class="nav-option" (click)="navigate('education')">
                EDUCATION
            </li>
            <li class="nav-option" (click)="navigate('contact')">
                CONTACT
            </li>
        </ul>
    </div>
</div>